img.hoklogo{
    width: 25%;
} 
h2{
    text-decoration: underline;
    color: white;
}
.hokForm h2{
    color: black;
}
.hokForm{
    border: 1px solid white;
    background-color: white;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-content: center;
}
#viewOrder{
    margin: 5px auto 0;
    width: 100vw;
    height: auto;
}
.orderTable{
    margin: auto;
    border: 1px dotted var(--bg);
    background-color:white;
    padding: 5px;
}
.orderTable th, .orderTable td{
    border: 0.5px solid var(--bg);
    padding: 5px;
}
.viewOrdersButton{
    border: 1px solid rgba(0, 0, 255, 0);
    background-color: white;
}
.item{
    list-style: none;
    color: rgb(41, 41, 41);
}
/*FOR THE BIG SCREEN*/
@media screen and (min-width:840px) {
    img.logo{
        max-width: 15%;
    }img.hoklogo{
    width: 12%;
} 
}
/*FOR THE LITTLE SCREEN*/
@media screen and (max-width:840px) {
    #viewOrder{
        width: 80vw;
    }
    hr{
        display: none;
    }
    .viewOrdersButton{
        border: 1px solid rgba(0, 0, 255, 0);
        background-color: white;
    }
}
