#root {                  /* assuming your React root div */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
:root{
    --bg: #BA9D55;
    --secondary: #5A2917;
}
html{
    height: 100%;
    margin: 0;
}

body{
    background-color: var(--bg);
    text-align: center;
}
img.logo{ /*element.clssName*/
    width: 25%;
}
#mainContent hr{
    color: var(--secondary);
}
#mainContent{
    text-align: center;
}
.selectAnItem{
    border: 1px solid black;
    background-color: red;
    width: 50%;
    margin: auto;
    top: 50%;
    position: relative;
    display: none;
}
.meals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.showOrderNoButton{
    display: none;
    border: 1px;
    background-color: var(--secondary);
    color: white;
    height: 25px;
    align-items: center;
}
.headOfKitchenLink{
    border: 1px solid orange;
    background-color: orange;
    color: red;
    font-size: large;
    padding: 10px;
}
.headOfKitchenLink:hover{
    border: 1px solid red;
    background-color: red;
    color: white;
}
.allergyWarning{
    border: 1px solid white;
    background-color: white;
    color: red;
}
.sabbathWarning{
    visibility: hidden;
    opacity: 0;
    color: red;
    animation-name: warning;
    animation-duration: 15s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#sabbath{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.98);
    color: yellow;
    position: sticky;
    bottom: 0;
    height: 100vh;
    align-content: center;
    padding: 4px;
}
#sabbath p{
    color: white;
}
#noMoreOrders{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.98);
    color: red;
    position: sticky;
    bottom: 0;
    height: 100vh;
    align-content: center;
    padding: 4px;
}
#noMoreOrders h3{
    color: white;
    text-decoration: none;
}
.sideBar{
    position: fixed;
    width: 40vw;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid var(--secondary);
    background-color: #5a2917dc;
    color: white;
    margin-left: 10px;
}
.sideBar h3{
    text-decoration: none;
}
.sideBar i{
    color: var(--bg);
}
.sideBar input{
    border: 1px solid #5a291700;
    background-color: #5a291700;
    color: white;
    cursor: pointer;
    position: relative;
    font-size: large;
}
.sideBar input:hover{
    color: red;
}
@keyframes warning{
    0%{color: red; opacity: 0; visibility: visible;}
    25%{color: red; opacity: 1;}
    50%{color: red; opacity: 0;}
    75%{color: red; opacity: 1;}
    100%{color: yellow; opacity: 0; visibility: hidden;}
}
@media screen and (max-width:840px) {
    hr{
        display: none;
    }
}