#root {                  /* assuming your React root div */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
:root{
    --bg: #b0066f;
    --secondary: #ffff00;
    --tertiary: #0292ab;
}
html{
    height: 100%;
    margin: 0;
}

body{
    background-color: var(--bg);
    text-align: center;
}
img.logo{ /*element.clssName*/
    width: 20%;
}
#genderRank{
    border: 1px dotted blue;
    border-radius: 7px;
    padding: 4px;
}
#userForm input{
    border: 1px dotted blue;
    border-radius: 7px;
    padding: 5px;
}
#genderRank{
    margin: 10px;
}
#mainContent hr{
    color: var(--secondary);
}
#mainContent h1{
    border: 1px solid var(--secondary);
    background-color: white;
}
#mainContent h2{
    color: var(--secondary);
}
#mainContent{
    margin-top: -20px;
    text-align: center;
}

.selectAnItem{
    border: 1px solid black;
    background-color: red;
    width: 50%;
    margin: auto;
    top: 50%;
    position: relative;
    display: none;
}
.meals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.showOrderNoButton{
    display: none;
    border: 1px;
    background-color: var(--secondary);
    color: white;
    height: 25px;
    align-items: center;
}
.headOfKitchenLink{
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: red;
    font-size: large;
    padding: 10px;
}
.headOfKitchenLink:hover{
    border: 1px solid red;
    background-color: red;
    color: white;
}
.allergyWarning{
    border: 1px solid white;
    background-color: white;
    color: red;
}
#sabbath{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.98);
    color: yellow;
    position: sticky;
    bottom: 0;
    height: 100vh;
    align-content: center;
    padding: 4px;
}
#sabbath p{
    color: white;
}
#noMoreOrders{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.98);
    color: red;
    position: sticky;
    bottom: 0;
    height: 100vh;
    align-content: center;
    padding: 4px;
}
#noMoreOrders h3{
    color: white;
    text-decoration: none;
}
.sideBar{
    position: fixed;
    box-sizing: border-box;
    top: 300px;
    border: 1px solid var(--secondary);
    background-color: var(--tertiary);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    /*align-items: flex-end;*/
}
.sideBar h3{
    text-decoration: none;
    color: black;
    text-align: left;
    margin: 0;
    padding: 10px;
}
.sideBar i{
    color: var(--secondary);
}
.sideBar input{
    border: 1px solid var(--bg);
    background-color: var(--secondary);
    color: var(--tertiary);
    cursor: pointer;
    font-size: large;
    width: 30px;
    font-weight: bold;
    margin: 2px;
}
.sideBar input:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}
.attention_{
    font-weight: bolder;
    text-align: left;
}
.attention_ h3{
    color: white;
    text-shadow: 1px 2px black;
}
.attention_ h4{
    margin-left: 6px;
    text-shadow: .5px .25px brown;
}
.submitOrderButton{
    border: 1px solid white;
    background-color: green;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.submitOrderButton:hover{
    background-color: white;
    color: green;
}
@keyframes warning{
    0%{color: red; opacity: 0; visibility: visible;}
    25%{color: red; opacity: 1;}
    50%{color: red; opacity: 0;}
    75%{color: red; opacity: 1;}
    100%{color: yellow; opacity: 0; visibility: hidden;}
}
/*MOBILE ONLY STYLING*/
@media screen and (max-width:840px) {
    .sideBar{
        width: 40vw;
    }
    hr{
        color: blue;
    }
}
/*DESKTOP ONLY STYLING*/
@media screen and (min-width: 840px) {
    
}